// Minty 4.5.0
// Bootswatch
$font-path: '../fonts/';
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary: #1da1f5;
$secondary: #8039da;
$success: #12ac70;
$danger: #e83d2c;
$warning: #ffc147;
$info: #2ccfd4;

